//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 13 09:48:17 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Pout<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "Pout<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "Pout<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "Pout<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "Pout<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "Pout<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "Pin<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "Pout<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "Pin<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "Pout<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "Pin<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "Reset" LOCATE = SITE "N17" LEVEL 1;
COMP "Pin<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "Pin<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "Pin<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "Pin<6>" LOCATE = SITE "U18" LEVEL 1;
COMP "Pin<7>" LOCATE = SITE "R13" LEVEL 1;
COMP "Clk" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

